<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<link rel="stylesheet" href="/css/style.css"/>
			<title>
				{% block title %}{% endblock %}
				- Memo</title>
		{% endblock %}
	</head>
	<body>
		<header class="container">
			<h1>Memo</h1>
		</header>
		<main id="content" class="container"> 
    {% block content %}{% endblock %}
		</main>
			<footer id="footer" class="container">
      <nav>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a href="/" class="nav-link">Accueil</a></li>
          <li class="nav-item">
            <a href="/cards" class="nav-link">Voir toutes les cartes</a>
          </li>
        </ul>
      </nav>
				{% block footer %}
					&copy; Copyright 2020 by
					<a href="https://coopernet.fr/">coopernet</a>.
				{% endblock %}
			</footer>
		</body>
	</html>
